  <div class="container body">
    <div class="main_container">
      <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
          <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title">
              <span>Energy Monitor</span>
            </a>
          </div>

          <div class="clearfix"></div>

          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
              <h3>Devices</h3>
              <ul class="nav side-menu">
                {{#each devices}}
                <li class="{{this.deviceId}}">
                  <a title="Device Id: {{this.deviceId}}" href="/{{this.deviceId}}">
                    <i class="fa fa-plug"></i>
                    {{this.alias}}
                  </a>
                </li>
                {{else}}
                <li>
                  <a href='index.html'>
                    <i class="fa fa-info"></i>
                    no devices discovered yet
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="right_col" role="main">
        
        <div class="page-header">
          <div class="row">
            <div class="col-sm-8">
              <div class="device-list-small">
                <ul class="list-inline">
                {{#each devices}}
                <li class="{{this.deviceId}}">
                  <a title="Device Id: {{this.deviceId}}" href="/{{this.deviceId}}">
                    <i class="fa fa-plug"></i>
                    {{this.alias}}
                  </a>
                </li>
                {{else}}
                <li>
                  <a href="index.html">
                    <i class="fa fa-info"></i>
                    no devices discovered yet
                  </a>
                </li>
                {{/each}}
              </ul>
              </div>
              <h1>
                <i class="fa fa-plug"></i> {{device.alias}}
              </h1>
            </div>
            <div class="col-sm-4">
              <div id="connection-error" class="alert alert-danger" style="display:none">Connection lost. Attempting to re-establish...</div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile">
              <div class="x_title">
                <h2>
                  <strong>Realtime Usage</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="row">
                  <h1 class="text-center">
                    <strong id="rtu-power">- W</strong>
                  </h1>
                </div>
                <div class="row text-center">
                  <div>
                    <canvas id="rtu-gauge"></canvas>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 col-xs-6 text-center">
                    <h1>
                      <strong id="rtu-current">- A</strong>
                    </h1>
                  </div>
                  <div class="col-md-6 col-xs-6 text-center">
                    <h1>
                      <strong id="rtu-voltage">- V</strong>
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel tile">
              <div class="x_title">
                <h2>
                  <strong>Realtime Trend</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <canvas id="rtt-chart" height="270"></canvas>
              </div>
            </div>
          </div>

        </div>

        <div class="row">
          
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel tile">
              <div class="x_title">
                <h2>
                  <strong>Logged Usage (last <span id="lastsession">-</span> kWh)</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <canvas id="logged-usage-chart" height="270"></canvas>
              </div>
            </div>
          </div>
        
        </div>

        <div class="row">

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Plug state</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                  <h1>
                    <span id="power-state">-</span>
                  </h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Uptime</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                <h1 id="uptime">-</h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Daily average</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                <h1><span id="avg-day">-</span> <small>kWh</small></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Total today</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                <h1><span id="total-day">-</span> <small>kWh</small></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Monthly average</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                <h1><span id="avg-month">-</span> <small>kWh</small></h1>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12 col-lg-4 col-xl-2">
            <div class="x_panel small tile">
              <div class="x_title">
                <h2>
                  <strong>Total this month</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content small">
                <h1><span id="total-month">-</span> <small>kWh</small></h1>
              </div>
            </div>
          </div>

        </div>

        <div class="row">

          <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel tile">
              <div class="x_title">
                <h2>
                  <strong>Last 30 days total <span id="30total">-</span> kWh</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <canvas id="du-chart" height="270"></canvas>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel tile">
              <div class="x_title">
                <h2>
                  <strong>Last 12 months total <span id="monthstotal">-</span> kWh</strong>
                </h2>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <canvas id="mu-chart" height="270"></canvas>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
  <footer>
    <ul class="list-inline">
      <li>
        <strong>Device name:</strong> {{device.name}}</li>
      <li>
        <strong>Model:</strong> {{device.model}}</li>
      <li>
        <strong>Sw ver:</strong> {{device.softwareVersion}}</li>
      <li>
        <strong>Hw ver:</strong> {{device.hardwareVersion}}</li>
    </ul>
  </footer>
  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://bernii.github.io/gauge.js/dist/gauge.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-duration-format/2.2.2/moment-duration-format.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-streaming@1.4.0/dist/chartjs-plugin-streaming.min.js"></script>

  <script src="/javascripts/dash.js"></script>
  <script>
    $(document).ready(function () {
      dash.init( '{{device.deviceId}}' );
    });
  </script>
